@import './ResetCss.scss';

// Variable
$text-color: #5e6e82;
$text-hover: #232e3c;
$color-active: #2c7be5 ;
$base-background: #EDF2F9;
$content-background: #fff;
// Background color
.bg-main{
    background-color: $base-background;
}
.bg-content{
    background: $content-background;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
// Style Layout component
.sidebar{
    position: sticky;
    top: 0;
    .sidebar-header{
        .btn-humburger-icon{
            height: 3rem;
            width: 3rem;
            border: none;
            font-size: 1.75rem;
        }
        .btn-humburger-icon:hover{
            background-color: #D8E2EF;
            border-radius: 50%;
        }
    .brand{
        span{
            font-weight: 600;
            font-size: 2rem;
            color: #2badf9;
        }
        img{
            height: 3.125rem;
        }
    }
    }
}

.content{
    height: 200vh;
}


@import '../Sidebar/Sidebar.scss';
@import '../Navbar/Navbar.scss';
@import '../User/User.scss'