.sidebar-menu{
    .item{
        .nav-link{
            padding: 0.5rem 0 0 2.5rem;
            color: $text-color;
        }
        .nav-link:hover{
            color: $text-hover;
        }
        .active {
            color: $color-active;
        }
    }
}